# Konfigurationsdatei
.env

# IDE-Dateien
/.idea
/.vscode

# Python Cache Dateien
__pycache__/
*.py[cod]
*$py.class

# Datenordner
data/uploads/*
data/flask_session/*

# Docker
.dockerignore
Dockerfile